.fixed-btn{
	position: fixed;
	    top: 40%;
	    right: 0;
	    border: none;
	    background: #2a3f5417;
	    padding: 5px;
	    transition: 0.5s;
}
.badge-primary {
    color: #ffffff;
    background-color: #ab47bc;
}

.bmd-label-floating{
	left: 5%;
}
.form-group{
	margin-bottom: 25px !important;
}

/*.content .text-center a{
	color: white !important;
}*/

.content .text-center .btn-secondary{
	color: black !important;
}


.main-panel>.content{
	margin-top: 60px !important;
}




/* for input type file in post create page*/

.custom-file-label{
	border: 1px solid #ced4da;
}

.input-group-text{
	border:1px solid #ced4da !important;
}


.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.5rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
}




.border-login{
	border:1px solid #EEEEEE;
	background-color: #fff;
	box-shadow: 1px 4px 2px 3px #ddd;; 
}


/* for input type file in post create page*/









/*      menubuilder css     */
.list-group-item{
	padding: 0.55rem 1.25rem !important;
	border: 1px solid #B2B7C2 !important;
	font-weight: 400;
	font-size: 19px;
}

#sortable-1 li .material-icons{
	color:#f44336;
}
/*      menubuilder css     */










