
// Body
$body-bg: #fffeff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$width:100%;
$columns:3;


// see bootstrap docs 'color' and add or remove or customize
// Colors
$blue: #0075BC !default;			// primary color blue
$red: #FE0014;					// secondary color red
$white: #fff;             // or change to ghostwhite
$muted: #6c757d;          // mute color
$lightmuted: #cccccc;          // mute color white dark color
$purple: #9561e2;
$pink: #f66D9b;
$indigo: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$text-color:#646668;


$colors: (
  blue: $blue,
  red: $red,
  white: $white,
  muted: $muted,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
 /* white: $white,
  gray: $gray-600,
  gray-dark: $gray-800*/
) !default;




$theme-colors: (
  "primary": $blue,
  "secondary": $red,
  "white": $white,
  "muted": $muted,
)!default;




