// font awesome
/*$fa-font-path: "../../../node_modules/@fort-awesome/fontawesome-free-webfonts/webfonts" !default;*/
@fa-font-path: 'public/fonts';
@fa-font-path: 'public/fonts/vendor/@fortawesome';
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid";



// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Mukta|Mukta+Vaani');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/**{
	margin:0;
	padding: 0;
	border:0;
}*/
.container-fluid {
    padding: 0;
}






@media screen and (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }

}






body {

    font-family: "Mukta", sans-serif;
    background-color: $body-bg;
}


.text-primary {
    color: $primary !important;
}

a {
    text-decoration: none !important;
}


.icon-seperator {
    margin-bottom: 3rem !important;
}

.ptb-5 {
    padding: 3rem 0 !important;
}

.card-bottom-padding {
    padding-bottom: 5px !important;
}

.mtb-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

#header {
    color: $white;
    padding: 7px 0;

    .fab {
        font-size: 13px;
        border-radius: 50%;
        border: 1x solid $muted !important;
        padding: 10px;
        color: white;
        min-width: 19px !important;
    }
}



/*			logo banner ad section style        */

@media (max-width: 768px) {
    #logo-ad {
        .my-col {
            flex-direction: column;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}

/*			logo banner ad section style        */





/* 				 navbar style  			  */

.nav-border {
    border-color: $primary;
    border-style: solid;
    border-width: 2px 0 5px 0;

    a {
        font-size: 21px;
        line-height: 32px;
        color: $blue !important;
        /*font-weight: 900;*/
        margin-right: 6px;

        &:active {
            color: $red !important;
        }

        &:hover {
            color: $red !important;
        }
    }
}

/* 				 navbar style  			  */






.border-left {
    border-left: 5px solid $primary !important;
}

.fa-7x {
    font-size: 3em !important;
    font-weight: 700;
    color: $primary;
}

/*				for icon seperator        */
.category {
    padding: 10px 50px;
    background-color: $red !important;
    color: ghostwhite;
    font-weight: 900;
    font-size: 25px;

    a {
        text-decoration: none;
        color: ghostwhite;
    }
}

/*				for icon seperator        */



/*           for carousel                */


.carousel-inner {
    border-radius: 5px;
}

.carousel-item img {
    min-width: 600px; // carousel image size
    max-height: 500px;
    min-height: 500px;
    width: 100% !important;
}



.carousel-caption {
    position: initial;
    bottom: -95px;
    font-size: 35px;
    color: $text-color !important;

    p {
        font-size: 29px;
    }
}

.jumbotron {
    background-color: #FAFAFA;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
}



/*           for carousel                */










/*   				news block style 					  */

#news {

    .card {
        word-wrap: break-word;
        background-color: #fdfdfd;
        background-clip: border-box;
        border: 1px solid $lightmuted;
        //border-radius: .25rem; 

    }



    .news-item-big {


        .card-img-overlay {

            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, black 100%);

            .card-text {
                font-size: 1.3rem;
                color: #fff;
                text-align: center;
                font-weight: 800;
                line-height: 23px;
                letter-spacing: 1px;
            }
        }

        &:hover {
            cursor: pointer;
            border: 1px solid #E7E7E7;
            box-shadow: 5px 5px 0px -11px rgba(0, 0, 0, 0);
        }

    }


    .col-lg-3 {




        .news-item-small {
            img {

                width: 100% !important;
                height: 170px;
                object-fit: cover;

            }

            .main-title {
                color: $text-color;
                font-size: 18px;
                line-height: 24px;
                font-weight: 700;
            }


        }

        &:hover {

            /*
						border: 1px solid #E7E7E7;
						box-shadow: 5px 5px 0px -11px rgba(0, 0, 0,0);
						border-radius: 20px;
					 */
            .main-title {
                color: $primary !important;
            }
        }

    }

}

/*   				news block style 					  */

/* 			 event model block style 				   */

#event-model {

    .single-media {
        display: inline-block;

        img {
            width: 150px;
        }
    }

    #model-section {
        &:hover {
            cursor: pointer;
        }
    }


    .media-body {
        font-size: 16px;
        color: $text-color;
        line-height: 24px;
        font-weight: 500;
        margin-top: 5px;
        float: right;
        max-width: 350px;
        display: list-item;

        .media-title {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 22px;
            margin-bottom: 6px;
            letter-spacing: 1px;
        }

        &:hover {

            color: $primary;
            transition: 0.5s ease all;
            cursor: pointer;
        }
    }



    .card-img-overlay {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, black 100%);

        p {
            font-size: 1.3rem !important;
            color: #fff;
            margin-bottom: 0 !important;
        }
    }


}

/* 			 event model block style 				   */





/*			for discussion section      */

#discussion {

    .col-md-12 {
        img {
            object-fit: cover;
            height: 200px;
        }
    }

    .card-img-overlay {

        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, black 100%);
        padding-bottom: 10px !important;

        p {
            font-size: 1.2rem;
            color: #fff;
            font-weight: 800;
            line-height: 26px;
            letter-spacing: 1px;
        }
    }

    .card {
        &:hover {
            cursor: pointer;
        }
    }
}



/*			for discussion section      */





/*            for videos section        */

#videos {

    .news-item-big {
        object-fit: cover;


    }


}

/*            for videos section        */








/*			footer style 			*/

.footer {

    background-color: #fafafa;

    .border-muted {
        border-bottom: 2px solid #d8d9db;
        border-color: #d8d9db !important;
    }

    /*.col-lg-4 {
					background-color: #fafafa;
					box-shadow: 0 2px 43px -4px rgba(0, 0, 0, .19);
					border-radius: 20px;
					padding: 20px 25px;
					margin-right:10px;
				}*/




    .footer-box {
        background-color: #fafafa;
        box-shadow: 0 2px 43px -4px rgba(0, 0, 0, .19);
        border-radius: 20px;
        padding: 20px 25px;
        height: 420px;
    }




    .footer-heading {
        font-size: 22px;
        font-weight: bold;
        color: $muted;
    }

    .fas {
        font-size: 22px;
        color: $blue;
        margin-right: 18px;
    }

    .first-box {
        h1 {
            font-size: 2rem;
            text-align: center;
            text-align: -webkit-center;
        }

        .reg-no {
            font-size: 0.8rem;
            color: $muted;
        }

        .media {
            display: block;

            h5 {
                font-size: 1rem;
                line-height: 32px;
                font-weight: 700;
                margin-bottom: 0;
            }

            .description {
                display: block;
                line-height: 26px;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    .second-box {
        .fab {
            color: #fff;
            font-size: 14px;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            background: $blue;
            margin-right: 15px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px
        }

        i .fas {
            color: #fff;
            font-size: 14px;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            background: $blue;
            border-radius: 50px;
        }

        .social-title {
            font-size: 0.9rem;
            color: $blue;
        }
    }

    .third-box {

        li {
            padding: 18px 0 16px;
            border-bottom: 1px solid #d2d5d9;

            &:last-child {
                border-bottom: none !important;
            }

            ;
        }

        li .main-title {
            color: $blue;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            display: block;
        }

        li .description {
            color: $muted;
            font-size: 16px;
            font-weight: 400;
        }

    }
}

/*			footer style 			*/





















/*   ------------------     single page style-------------------   */



#single-post-page-view {

    #news-big-title h1 {
        font-size: 48px;
        font-weight: 700;
        display: block;
        line-height: 64px;
        margin: 30px;
        text-align: center;
        color: #0287D1;
    }

    figure {

        background: #eee;
        position: relative;

        img {
            max-height: 686px !important;
            object-fit: contain;
            max-width: 100%;
            margin: 0 auto;
            float: none;
            display: block;
            width: auto !important;
        }

        .caption-line {
            font-size: 16px;
            font-style: italic;
            display: block;
            border-bottom: 1px solid #ddd;
            padding: 5px 0;
            float: left;
            width: 100%;
            line-height: 24px;
        }
    }

    .sharenews {
        border-top: 1px solid #ddd;
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 0 0 0 15px;
        background-color: #eee;
        /* box-shadow: inset 0 0 10px #ddd;*/
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;

        .media {
            margin-left: 10px;
            text-align: center;
        }

        .main-title {
            font-weight: 700;
            font-size: 18px;
            display: block;
            margin-top: 10px;
            line-height: 22px;
        }

        .list-inline-item i {
            color: white;
            font-size: 1rem;
            width: 30px !important;
            text-align: center;
            padding: 8px 5px;
            font-weight: 700;
        }

    }

    // sharenews end

    .single-news-post {

                img{
                    width:100% !important;
                 }
        .news-body{

             p {
                font-size: 22px;
                font-weight: 400;
                line-height: 40px;
                color: $muted;

            }
            img{
                width:100%;
            }
        }



    }
}

//single-post-page-view end

/*---------  single-news-post end ------------------- */



/*      right sidebar 			*/

.right-side-news {

    #border-muted {
        border-bottom: 2px solid #cccccc;
        padding-bottom: 3px;
    }

    .sidebar-heading {
        font-size: 28px;
        font-weight: 700;
        color: #1f2021;
        border-bottom: 3px solid $red;
    }

    li {
        padding: 25px 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: $blue;
        border-bottom: 1px solid $lightmuted;

        &:hover {
            border-bottom: 2px solid $blue;

            .main-title {
                color: $blue;
                transition: 0.6s all ease;
            }

            a {
                text-decoration: none;
            }

        }





        a {
            .main-title {
                color: $muted;
                font-weight: 700;
                font-size: 18px;
            }

        }

        /* a tag end */

    }

    /* li tag end */

}

/* right side news end */









.comment-on-news {

    border-bottom: 1px solid #6c757d;

    &:hover {
        border-bottom: 4px solid $red !important;
        transition: 0.9s all ease-out;
    }

    #comment {
        font-size: 22px;
        font-weight: bold;
        color: $muted;
        border-bottom: 3px solid $red;
    }
}


.more-read {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    color: black;

    //read-more link

    .read-more-link {
        padding: 9px 140px;
        border: 1px solid #efedee;
        font-size: 18px;
        margin: 0 auto;
        display: table;
        font-weight: 400;
        line-height: 26px;
        background: #efedee;
        color: #222;
    }

    a {
        outline: 0;
        text-decoration: none;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        display: inline;

        &:hover {

            transition: all .3s ease-in-out;
            text-decoration: none;

            border: 1px solid #333;
            background: #fff;

        }
    }

}


.main-title {
    font-size: 26px;
    line-height: 36px;
    width: 100%;
}










/*       single page style  end */



/*          category page start                    */

#single-category-section {




    .col-xl-9 {
        padding-right: 40px !important;

        mt-4 a {
            text-decoration: none;

        }
    }




    .category-post {
        box-shadow: 5px 10px 35px 0 rgba(46, 61, 73, 0.3);
        border-radius: 10px;

        .media-body {
            p {
                color: $muted;
            }


            .small-content {
                margin-top: 5px;
                color: $primary;
            }
        }

        .main-title {
            font-weight: 700;
            color: #1b1e21;
            text-decoration: none;
            font-size: 24px;

        }


        img {
            width: 375px;
            object-fit: cover;
        }

        .img-thumbnail {
            height: 230px !important;
        }

        &:hover {
            .main-title {
                color: $blue;
            }

            a {
                text-decoration: none;
            }
        }
    }



}

/*   single-category-section end */



/*          category page     end 				*/








/* for video section style*/
#video {
    .news-item-big {
        img {
            object-fit: cover;
        }

        .main-title {
            color: #646668;
            font-size: 25px;
            line-height: 35px;
            font-weight: 900;

        }



    }

    .news-item-small {
        img {

            width: 100% !important;
            height: 250px;
            object-fit: cover;
        }

        .main-title {
            color: #646668;
            font-size: 22px;
            line-height: 35px;
            font-weight: 800;

        }

    }

    .news-item-big,
    .news-item-small {

        .video-play {
            position: absolute;
            top: 30px;
            margin: 0 auto;
            right: 30px;
            font-size: 20px;
            text-align: center;
            border: 1px solid #fff;
            line-height: 48px;
            width: 44px;
            height: 44px;
            background: #FE0014;
            color: #fff;
            border-radius: 50px;
            transition: .3s ease-in-out;
            opacity: 1;
        }


        &:hover {
            .main-title {
                color: $primary !important;
            }
        }
    }

    /*  news item small end  */
}

/* for video section style*/





/* for literature section style*/
#literature {
    .news-item-small {
        img {

            width: 100% !important;
            height: 250px;
            object-fit: cover;
        }


        .main-title {
            color: $text-color;
            font-size: 22px;
            line-height: 35px;
            font-weight: 800;
        }


        &:hover {
            .main-title {
                color: $primary !important;
            }
        }
    }

    /*  news item small end  */
}

/* for literature section style*/























/*------------------------------- media query ----------------------------------*/


/* - ----------------- for medium devices md--------------------*/
@media (max-width: 992px) {


    #carousel {
        .carousel-item {
            img {
                object-fit: fill;
                max-width: 100%;
                background-size: cover;
                background-position: center center;
            }
        }
    }


    #news {
        .first-row {
            img {
                height: 190px;
            }

            .card-text {
                font-size: 18px !important;
            }
        }

        .news-item-big .card-img-overlay .card-text {
            line-height: 39px;
        }
    }

    // news end


    #discussion {
        .second-row {
            .col-md-6 {
                margin-top: 25px;
            }

            img {
                height: 240px;
            }

            p {
                font-size: 18px;
            }
        }
    }

    // discussion end


    #video {

        .col-md {
            margin-bottom: 25px;
        }

        .news-item-small {
            img {
                height: 200px;
                object-fit: cover;
            }
        }


    }

    // video end



    // for event model section

    #event-model {
        .single-media {
            img {
                display: block;
                width: 80%;
                height: 200px;
                margin: 0 auto !important;
            }

            .media-body {
                float: none;
                display: block;
                margin: 0 auto;
                text-align: center;

                .time-date {
                    float: none !important;
                }
            }

            // padding above model part inspect
            .col-md-10 {
                padding-top: 20px;
            }
        }
    }

    // event model section end


    #literature {
        .news-item-small {
            img {
                height: 200px;
                object-fit: cover;
            }
        }
    }





    /*      single page responsive style */

    #single-page-side-ad {
        .short-ad {
            flex-basis: 70%;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }






    .footer {

        .my-col {
            flex-direction: column !important;
            flex-basis: 100%;
            margin-bottom: 10px;
        }

        .container {
            padding-right: 0;
            padding-left: 0;
        }
    }







    /*     category page responsive style*/
    #single-category-section {

        .col-xl-9 {
            padding-right: 0 !important;
        }

        .col-lg-12 {
            padding-left: 0 !important;
        }

        .media-body {
            padding: 15px;
            text-align: center;
        }

        .right-side-news {
            padding: 30px 0;
        }

        .category-post {
            width: 90%;
            margin: 0 auto;
        }

    }

    /*     category page responsive style end*/




    /* single post page responsive style */

    #single-post-page-view {

        .right-side-news {
            padding: 20px 0;
        }

        #news-big-title h1 {
            line-height: 55px;
            font-size: 40px;
        }

    }


    /* single post page responsive style end*/




}

//992px media query end






/* - ----------------- for small device sm---------------------------- */
@media (max-width: 768px) {

    #news {
        .first-row {
            .col-md-4 {
                margin-bottom: 15px;
            }

            img {
                height: 250px;
                object-fit: cover;
            }

            .card-text {
                font-size: 25px !important;
            }
        }

        // first row end

        .second-row {
            .col-md-6 {
                margin-bottom: 20px;
            }

            .news-item-small {
                img {
                    height: 250px;
                    object-fit: cover;
                }

                .main-title {
                    font-size: 21px !important;
                    text-align: center;
                }
            }
        }

        // second row end

    }

    // news end





    #discussion {
        .second-row {
            .col-md-6 {
                margin-top: 25px;
            }

            img {
                height: 250px;
                object-fit: cover;
            }

            p {
                font-size: 18px;
            }
        }
    }

    // discussion end


    #discussion-ad-group {
        .col-md-4 {
            flex-basis: 80%;
            margin-bottom: 10px;
            flex-direction: column;
        }
    }


    #video {

        .col-md {
            margin-bottom: 25px;
        }

        .news-item-small {
            img {
                height: 250px;
                object-fit: cover;
            }
        }


    }

    // video end



    #literature {
        .col-md {
            margin-bottom: 25px;
        }

        .news-item-small {
            img {
                height: 250px;
                object-fit: cover;
            }
        }
    }

    // literature end



}





/*------------------------------- media query ----------------------------------*/
